<div class="block">
  <div class="content">
    <div class="fluid">
      <div class="title">
        <a routerLinkActive="active"><p>{{title}}</p></a>
      </div>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
    <div class="total-progress">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="20 + '%'" aria-valuemin="0" aria-valuemax="100"
             style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
      <div class="container">
        <div class="row detail">
          <div class="col-xs-6 detailDays">
            <strong class="card-res-strong">Days left: {{daysLeft}}</strong>
          </div>
          <div class="col-xs-6 detailButton">
            <button type="button" class="btn btn-outline-success btn-sm">More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
