.card {
  width: 500px;
  display: block;
  background-color: #f8f9fa;
  margin: 10px auto 0 auto;
  padding: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
 div.row {
   text-align: center;
 }
 h2 {
   margin: auto;
 }
