<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
    <div class="navbar-nav">
      <a  class="nav-item nav-link" (click)="openModal()">SignIn</a>
    </div>
</nav>

<app-modal [(visibility)]="modalVisibility" (modalClose)="closeModal()" class="dialog-login">
  <app-authorize-modal (authorizeComplited)="closeModal()"></app-authorize-modal>
</app-modal>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-preview></app-preview>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-preview></app-preview>
    </div>
  </div>
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

