<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
    <div class="navbar-nav">
      <a  class="nav-item nav-link" (click)="openModal()">SignIn</a>
    </div>
</nav>

<app-modal [(visibility)]="modalVisibility" (modalClose)="closeModal()" class="dialog-login">
  <app-authorize-modal (authorizeComplited)="closeModal()"></app-authorize-modal>
</app-modal>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-preview></app-preview>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-preview></app-preview>
    </div>
  </div>
</div>

<app-drag-and-drop></app-drag-and-drop>
