<app-navbar (loginActionEmitter)="getLoginAction()"
            [loginTitle]="getLoginTitle()">
</app-navbar>

<app-modal [(visibility)]="isAuthenticationModalVisible"
           (modalClose)="closeAuthenticationModal()"
           class="dialog-login">
  <app-authorize-modal (authorizeComplited)="closeAuthenticationModal()"></app-authorize-modal>
</app-modal>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-preview></app-preview>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <app-preview></app-preview>
    </div>
  </div>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

