app-modal {
  display: none;
}

.modalWindow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}

.modalWindow-body {
  padding: 20px;
  background: #fff;
  margin: 13%;
}


.modalWindow-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: 900;
}


body.modalWindow-open {
  overflow: hidden;
}
