<form [formGroup]="registrationForm" (ngSubmit)="postForm(registrationForm.value)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
          <input type="text" class="form-control"
                 formControlName="firstName"
                 placeholder="First Name"/>
          <div class="alert" *ngIf="!registrationForm.controls['firstName'].valid && registrationForm.controls['firstName'].touched"> Name is required.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
          <input type="text" class="form-control"
                 formControlName="secondName"
                 placeholder="Second Name (not required)"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="email" class="form-control"
             formControlName="email"
             placeholder="Email"/>
      <div class="alert" *ngIf="!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched"> Email is required.</div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control"
             id="password"
             [ngClass]="{'has-error' : registrationForm.controls['password'].hasError('required') && (registrationForm.controls['password'].touched || invalid ) }"
             formControlName="password"
             placeholder="Password"/>
      <div class="alert" *ngIf="!registrationForm.controls['password'].valid && registrationForm.controls['password'].touched"> Password is required.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <button type="submit" (click)="postForm()" class="btn btn-primary" data-dismiss="modal">Sign Up</button>
      </div>
    </div>
    <div class="col-md-9">
      <app-social></app-social>
    </div>
  </div>
</form>
