
<div class="auth-dialog">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab">SignIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="signup-tab" data-toggle="tab" href="#singup" role="tab">SignUp</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active justify-content-center" id="signin" role="tabpanel">
      <app-sing-in (afterSubmitEvent)="afterSubmitHandler($event)"></app-sing-in>
    </div>
    <div class="tab-pane justify-content-center" id="singup" role="tabpanel">
      <app-sign-up (afterSubmitEvent)="afterSubmitHandler($event)"></app-sign-up>
    </div>
  </div>
</div>
