<app-modal [(visibility)]="isAuthenticationModalVisible" (modalClose)="close()" class="dialog-login">
  <div class="auth-dialog">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-7 auth-form">
        <app-tabs *ngIf="isAuthenticationModalVisible">
          <app-tab [tabTitle]="'SignIn'">
            <app-sign-in (afterSubmitEvent)="afterSubmitHandler($event)"></app-sign-in>
          </app-tab>
          <app-tab [tabTitle]="'SignUp'">
            <app-sign-up (afterSubmitEvent)="afterSubmitHandler($event)"></app-sign-up>
          </app-tab>
        </app-tabs>
      </div>
    </div>
  </div>
</app-modal>
