app-modal.dialog-default .dialog{
  max-width: 520px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

app-modal.dialog-login .dialog{
  max-width: 1000px;
  height: 150px;
}

input.form-control{
  font-size: 14px;
  color: #292C44;
  height: 50px;
  width: 100%;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid #eee;
  background-color: #f6f7fb;
}

app-sign-up form,
app-sign-in form {
  margin-top: 20px;
}

.btn.btn-primary {
  background-color: #4F80E1;
}
